# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.egg-info/
*.egg

# PyInstaller / Build Artifacts
build/temp/
dist/

# Mac OS
.DS_Store

# Virtual Environments
venv/
env/
.env

# IDE
.vscode/
.idea/

# App Specific
rename_backup.txt